<div class="profile-card">
    <div class="avatar-name">
        <img src="assets/images/no-user.png" alt="avatar" class="profile-card__avatar" width="70px" height="70px">
        <div class="profile-card__name">
            <strong>Райан Гослінг</strong>
            <span>rayn</span>
        </div>
    </div>
    <div class="profile-card__description">
        Список навичок, який ми обговорювали вище - основа резюме, але не єдина фого частина.
        Також можна розповісти про себе в класичному сенсі - цей розділ можна додати до супровідного листа.
    </div>
    <app-skill-tags></app-skill-tags>
</div>